.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button:hover {
    background-color: #3e8e41;
}


.header-input {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
    outline: none;
    text-transform: uppercase;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/*custom from now on*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Add some space between the divs */
    padding: 20px;
    width: 100%;
}

.container-maincontainer {

}

.container-buttons{}



.input-searchbar
{
    float:left;
    height:40px;
    border-color:gray;
    border-width:1px;
    border-radius:3px;
}

    .input-searchbar:focus {
        
        outline-width:2px;
      
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: fit-content !important;
        height: 100%;
        table-layout: fixed;
        display: grid;
        grid-template-columns: 100% 100% 100% 5% 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float: left;
    }
/*header*/
th {
    border: none; /* Remove border for headers */
    text-align: left;
    padding: 8px;
    background-color: forestgreen;
    color: white;
}


/* data cell */
td:nth-child(1),
td:nth-child(2) {
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
    min-width: 200px;
    border-right: none;
}

td:nth-child(3) {
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
    min-width: 200px;
    border-right: none;
}

td:nth-child(4) {
    border-bottom: 1px solid #aaaaaa;
}






tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}



tr:last-child td {
    border-bottom: none;
    
}

tr:nth-child(6) {
    border-right:none;
    border-bottom: none;

}





.btn-group {

    gap: 0.2rem; /* Adjust the gap as needed */
    margin-left:5px;
    float: left;

}



.button-45 {
    width: fit-content;
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0px 1px 0 inset;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
    outline: 0;
}


.button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}

    .button-45:active:hover,
    .button-45:focus:hover,
    .button-45:focus {
        color: black;
    }