@model STAJ22001.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
    var errorMessage = TempData["errormessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-success">
        <strong>error</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">service</label>
        <input type="text" class="form-control" asp-for="Service" />
        <span asp-validation-for="Service" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Type</label>
        <input type="text" class="form-control" asp-for="Type" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Path</label>
        <input type="text" class="form-control" asp-for="Path" />
        <span asp-validation-for="Path" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Query</label>
        <input type="text" class="form-control" asp-for="Query" />
        <span asp-validation-for="Query" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">RequestBody</label>
        <input type="text" class="form-control" asp-for="RequestBody" />
        <span asp-validation-for="RequestBody" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">ResponseBody</label>
        <input type="text" class="form-control" asp-for="ResponseBody" />
        <span asp-validation-for="ResponseBody" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Header</label>
        <input type="text" class="form-control" asp-for="Header" />
        <span asp-validation-for="Header" class="text-danger"></span>
    </div>


    <div class="d-grid">
        <button type="submit" class="btn btn-success">update</button>
    </div>
</form>