@model STAJ22001.Models.CustomerViewModel

@{
    ViewData["Title"] = "Yeniservis";
    var successMessage = TempData["successmessage"]?.ToString();
    var errorMessage = TempData["errormessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-success">
        <strong>error</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
    

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
    <link rel="stylesheet" href="~/css/serviceform.css">
    
</head>
<body>

    <div class="form-container">
        <form action="Yeniservis" method="post" autocomplete="off">
            <div class="form-group">
                <label for="serviceName">Service Name</label>
                <input type="text" id="Service" name="Service" required>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select id="Type" name="Type" required>
                    <option value="">Select a type</option>
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                    <option value="type3">Type 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="path">Path</label>
                <input type="text" id="Path" name="Path" required>
            </div>

            <div class="form-group">
                <label for="querystring">Query String</label>
                <textarea type="text" id="Query" name="Query" required></textarea>
            </div>

            <div class="form-group">
                <label for="header">Header</label>
                <textarea type="text" id="Header" name="Header" required></textarea>
            </div>

            <div class="form-group">
                <label for="requestbody">Request Body</label>
                <textarea type="text" id="RequestBody" name="RequestBody" required></textarea>
            </div>

            <div class="form-group">
                <label for="responsebody">Response Body</label>
                <textarea type="text" id="ResponseBody" name="ResponseBody" class="large" required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

    
    @section Scripts {
        <script src="~/js/serviceform.js"></script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

